:root {
    --color_1: #F5AE6F;
    --color_2: white;
    --color_3: black;
    --color_4: #975203;
    --bg-indicator: #d67b13;
}

nav * {
    font-family: "Kanit", sans-serif;
}

/* NavBar */

.hideNavBar {
    display: none;
}

.navBar {
    height: 4rem;
    width: 100vw;
    font-weight: bold;
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    display: flex;
    background-color: var(--color_1);
    justify-content: space-between;
    top: 0;
    position: relative;
}

.navBar > div {
    display: flex;
    align-items: center;
}

.navBar .titleWrapper {
    margin-left: 1rem;
    font-family: "Martian Mono", monospace;
    font-size: xx-large;
    color: var(--color_2);
    gap: clamp(.1rem, 2vw, 1rem);
    font-size: clamp(1rem, 2vw, 2rem);
}

.navBar .titleWrapper > img {
    display: flex;
    width: 30px;
}

.navBar .links {
    display: flex;
    gap: clamp(.25rem, 2vw, 2.5rem);
    font-size: clamp(.3rem, 2vw, 1rem);
}

.navBar .links .Links {
    display: flex;
    align-items: center;
    gap: clamp(4px, 2vw, 8px);
    position: relative;
    text-decoration: none;
    color: var(--bg-indicator);
}

.navBar .links .Links > span {
    position: relative;
}

.navBar .links .indicated {
    color: var(--color_4);
    text-shadow: 0 0 5px var(--color_4);
}

.navBar .links .indicated .indicator {
    position: absolute;
    bottom: -.25rem;
    left: 0;
    height: .2rem;
    width: 100%;
    z-index: 1;
    background-color: #975203;
    transform: scaleX(0);
    animation: indic .75s forwards ease-out;
}

.navBar .authWrapper {
    margin-right: 1rem;
    gap: clamp(.1rem, 2vw, 1rem);
}


.navBar .authWrapper .hamButton{
    display: none;
}

.navBar .authWrapper > button {
    font-size: clamp(.5rem, 2vw, 1.1rem) ;
    font-family: "Kanit", sans-serif;
    font-weight: bold;
    padding: clamp(.3rem, 2vw, .5rem) clamp(.5rem, 2vw, 1.2rem) ;
    border-radius: 12px;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    text-wrap: nowrap;
    gap: .5rem;
}


/* Left Button for Sign In */


.navBar .authWrapper .leftButt {
    background-color: var(--color_2);
    color: var(--color_1);
}

.navBar .authWrapper .leftButt:hover {
    color: var(--color_2);
    background-color: var(--color_4);
}

.navBar .authWrapper .leftButt:active {
    background-color: #f7cdcd;
    color: #975203;
}

/* Right Button for Sign Up */

.navBar .authWrapper .rightButt {
    background-color: black;
    color: white;
}

.navBar .authWrapper .rightButt:hover {
    background-color: white;
    color: black;
}

.navBar .authWrapper .rightButt:active {
    background-color: #f7cdcd;
    color: #975203;
}

.navBar .authWrapper .hamButton {
    display: none;
}

/* Animations */

@keyframes popUp {
    to {
        display: block;
        opacity: 1;
    }
}

@keyframes popDown {
    to {
        display: none;
        opacity: 0;
    }
}


@keyframes indic {
    to{
        transform: scaleX(1.2);
    }
}

/* SideBar */

.sideBar {
    opacity: 0;
    animation: popUp .8s forwards ease-out;
}

.hideSideBar {
    animation: popDown .8s forwards ease-out;
}

.sideBar > ul, .hideSideBar > ul {
    width: 7.5rem;
    height: 100vh;
    position: absolute;
    right: 0;
}

.sideBar > ul {
    background-color: #F5AE6F;
    font-weight: bolder;
    animation: slideSideBar .5s forwards ease-out;
}

.hideSideBar > ul {
    background-color: #F5AE6F;
    font-weight: bolder;
    animation: hideSidebarSlide .5s forwards ease-out;
}


@keyframes slideSideBar {
    from {
        transform: translateX(7.5rem);
    }
    to {
        transform: translateX(0rem);
    }
}

@keyframes hideSidebarSlide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(7.5rem);
    }
}


/* Media Frames */

@media (min-width: 600px) {
    .sideBar > ul, .hideSideBar > ul {
        display: none;
    }
}

@media (max-width: 600px) and (max-height: 800px) {
    /* Navbar */
    
    .navBar {
        height: 3.5rem;
    }

    /* Left */

    .navBar .titleWrapper {
        gap: 0.2rem;
    }

    .navBar .titleWrapper > img {
        width: 30px;
    }

    .navBar .titleWrapper > h1 {
        font-size: 1.5rem;
    }

    /* Middle */

    .navBar .links {
        display: none;
    }

    /* Right */

    .navBar .authWrapper {
        gap: .5rem;
    }

    .navBar .authWrapper > button {
        font-size: .5rem;
        padding: .5rem .75rem;
    }
    
    .navBar .authWrapper .leftButt > i {
        font-size: .9rem;
    }

    .navBar .authWrapper .hamButton {
        display: block;
    }

    /* NavBar and SideBar */

    .navBar .links {
        display: none;
    }

    /* SideBar */

    .sideBar, .hideSideBar {
        width: 100vw;
        height: 100vh;
        background-color: #f1c386bd;
        position: fixed;
        font-weight: 500;
        font-family: "Kanit";
        letter-spacing: .1rem;
        top: 0rem;
        z-index: 2;
        overflow-y: scroll;
    }

    .sideBar > ul, .hideSideBar > ul {
        background-color: #F5AE6F;
        font-weight: bolder;
        height: 120vh;
    }

    .sideBar > ul > .hamButton, .hideSideBar > ul > .hamButton {
        width: 100%;
        font-size: 2rem;
        border: none;
        height: 9rem;
        background-color: var(--color_4);
        color: var(--color_3);
    }

    .sideBar > ul > .hamButton:hover, .hideSideBar > ul > .hamButton:hover {
        background-color: var(--bg-indicator);
        color: wheat;
    }

    .sideBar > ul .Links, .hideSideBar > ul .Links{
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        height: 5rem;
        font-size: 1.4rem;
        padding: 2rem 0;
        color: inherit;
        text-decoration: none;
        background-color: var(--color_1);
        transition: .5s ease-out;
    }

    .sideBar > ul .Links > span, .hideSideBar > ul .Links > span{
        font-family: Kanit;
    }

    .sideBar > ul > .indicated, .hideSideBar > ul > .indicated {
        background-color: var(--bg-indicator);
        color: white;
    }

    .indicated .indicator {
        display: none;
    }
}